<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.podd">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activityRestaurant.NewHomeScreenActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">

        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityRestaurant.MainHomeScreenSecondActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activityTaxi.MainHomeScreenThreeActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activityRestaurant.RestaurantDetailScreenActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activityTaxi.BookTaxiActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activityTaxi.TaxiBookingSummaryActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activityTaxi.TaxiReturnToHomeScreen"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activityRestaurant.BestRestaurantNearCity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activityRestaurant.RestaurantBookingDetailsActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activityRestaurant.BookingSummaryActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activityRestaurant.RestaurantReturnToHomeActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activityRestaurant.ViewMenuActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activityRestaurant.ViewInMapActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name=".activityRestaurant.BestRestaurantNearCityForDelivery"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activityRestaurant.ViewMenuDeliveryActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activityTaxi.HomeScreenActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>